@model RenderingModel
@using MVC.Tutorial

<div class="highlight">
    @Html.Sitecore().Field("Image", Model.Item, new { mw = 300, mh = 400, hspace = 10, vspace = 10, @class = "test", DisableWebEdit = true })
    <p><strong>Make:</strong> @Html.Sitecore().Field("Make", Model.Item)</p>
    <p><strong>Model:</strong> @Html.Sitecore().Field("Model", Model.Item)</p>
    <p>@Html.Sitecore().Field("Website", Model.Item, new { text = "Read more about this car" })</p>
    <p>@Html.Sitecore().Field("__Created", Model.Item, new { format = "dd/MM/yyyy" })</p>
    <p>@Html.Sitecore().ImageField("Image", Model.Item, 200, 300, true)</p>
</div>  